* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background: #fff;
}


a {
  text-decoration: none;
  color: #358BC5;
  margin-right: 15px;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 7px 80px;
  background: #f5f5f5;
  font-size: 14px;
  border-top: 7px solid #BC0010;
  margin-left: 45px;
}

.top-right {
   margin-right: 45px;
}

/* MAIN HEADER */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}



.logo {
  font-size: 32px;
  font-weight: bold;
  padding-left: 40px;
  margin-left: 55px;
}

.phone {
  font-size: 18px;
}

.contact-btn {
  padding: 10px 15px;
  border: 1px solid #007bff;
  background: white;
  cursor: pointer;
}

.icons span {
  margin-left: 20px;
  cursor: pointer;
  margin-right: 90px;
}


/* SEARCH */
.search-bar {
  display: flex;
  padding: 10px 40px;

}

.catalog-btn {
  padding: 10px;
  background: #eee;
  border: none;
  margin-left: 80px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
}

.search-btn {
  padding: 10px 15px;
  background: #6B7FA0;
  color: white;
  border: none;
  margin-right: 80px;
}
/* BANNER */
.banner {
    margin: 20px 20px;

}
.banner img {
  height: auto;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  width: 1230px;
  height: 520px;
  top: 214px;
  left: 105px;
}
.name-katalog {
    width: 2700px;
    font-size: 26px;
    font-weight: bold;
    padding-left: 120px;
    margin-top: 100px;
    margin-bottom: 30px;

}
.katalog-pictures {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 40px;
    margin-top: 50px;
    margin: 30px;
}
.katalog-pictures img {
    width: 340px;
    height: 290px;
}

.divider {
    display: block;
    width: 1460px;
    height: 1px;
    background-color: #DDDDDD;
    margin: 10px auto 20px auto;
}