* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background: #fff;
}


a {
  text-decoration: none;
  color: #358BC5;
  margin-right: 15px;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 7px 80px;
  background: #f5f5f5;
  font-size: 14px;
  border-top: 7px solid #BC0010;
  margin-left: 45px;
}

.top-right {
   margin-right: 45px;
}

/* MAIN HEADER */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}



.logo {
  font-size: 32px;
  font-weight: bold;
  padding-left: 40px;
  margin-left: 55px;
}

.phone {
  font-size: 18px;
}

.contact-btn {
  padding: 10px 15px;
  border: 1px solid #007bff;
  background-color: #DDDDDD;
}

.icons span {
  margin-left: 20px;
  cursor: pointer;
  margin-right: 90px;
}


/* SEARCH */
.search-bar {
  display: flex;
  padding: 10px 40px;

}

.catalog-btn {
  padding: 10px;
  background: #eee;
  border: none;
  margin-left: 80px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
}

.search-btn {
  padding: 10px 15px;
  background: #6B7FA0;
  color: white;
  border: none;
  margin-right: 80px;
}
/* BANNER */
.banner {
    margin: 20px 20px;

}
.banner img {
  height: auto;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  width: 1230px;
  height: 520px;
  top: 214px;
  left: 105px;
}

/* PRODUCT KATALOG */

.name-katalog {
    width: 2700px;
    font-size: 26px;
    font-weight: bold;
    padding-left: 120px;
    margin-top: 100px;
    margin-bottom: 30px;

}
.katalog-pictures {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 40px;
    margin-top: 50px;
    margin: 30px;
}
.katalog-pictures img {
    width: 340px;
    height: 290px;
}

.divider {
    display: block;
    width: 1480px;
    height: 2px;
    background-color: #DDDDDD;
    margin: 10px auto 20px auto;
}
 /* Best Offers */
 .name-best-offers {
    width: 2700px;
    font-size: 26px;
    font-weight: bold;
    padding-left: 120px;
    margin-top: 100px;
 }
  .best-offers-pictures {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin: 40px;
 }
    .best-offers-pictures img {
    width: 370px;
    height: 770px;
    }

   .sort {
     padding: 10px 15px;
     border: 1px solid #007bff;
     background: white;
     cursor: pointer;
   }
   .best-offers-btn {
    padding-left: 30px;
    margin-left: 1020px;
    margin-top: 40px;
    margin-bottom: 10px;
    background: white;
    cursor: pointer;
   }
     
   .filtr {
     padding: 10px 15px;
     border: 1px solid #007bff;
     background: white;
     cursor: pointer;
   }
   .choose {
     padding: 10px 15px;
     border: 1px solid #007bff;
     background: white;
     cursor: pointer;
   }
   /* Aksiya */
    .name-aksiya {
     width: 2700px;
     font-size: 26px;
     font-weight: bold;
     padding-left: 120px;
     margin-top: 100px;
    }
    .aksiya-pictures {
       display: flex;
       justify-content: center;
       padding: 10px;
       gap: 40px;
       margin-top: 10px;
       margin: 90px;
    }
     .aksiya-pictures img {
       width: 1300px;
       height: 360px;
     }
   /* Service */
    .name-service {
      width: 2700px;
      font-size: 26px;
      font-weight: bold;
      padding-left: 120px;
      margin-top: 100px;
     }
     .service-pictures {
         display: flex;
         justify-content: center;
         padding: 10px;
         gap: 40px;
         margin-top: 50px;
         margin: 90px;
     }
      .service-pictures img {
         width: 370px;
         height: 440px;
      }
      /* Delivery Loading */
        .delivery-label-unloading {
            width: 2700px;
            font-size: 26px;
            font-weight: bold;
            padding-left: 120px;
            margin-top: 100px;
        }
      /*  Useful Information */
      .useful-label-information {
        width: 2700px;
        font-size: 26px;
        font-weight: bold;
        padding-left: 120px;
        margin-top: 100px;
      }
      .useful2-picture {
        border-top: 1.5px solid gray;
        border-left: 1.5px solid gray;
        border-right: 1.5px solid gray;
        border-bottom: 1.5px solid gray;
      }

      .useful-information-items {
        display: flex;
        padding: 10px;
        gap: 40px;
        margin-top: 50px;
        margin: 90px;
      }
      .useful-information-pictures img {
        width: 370px;
        height: 440px;
      }
      /* Questions Answers */
        .questions-label-answers {
            width: 2700px;
            font-size: 26px;
            font-weight: bold;
            padding-left: 120px;
            margin-top: 100px;
    }

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* badges */
.badges {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  margin-left: 110px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
}

.badges b {
  font-size: 18px;
}

.badges-red {
  background: #c62828;
}

.badges-blue {
  background: #6c7a89;
}

/* gallery */
.gallery {
  background: #f3f3f3;
  padding: 50px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.gallery h2 {
  margin-bottom: 20px;
}

.rectangel {
  display: flex;
  gap: 15px;
}

.rectangel img {
  width: 230px;
  height: 140px;
  object-fit: cover;
}

.note {
  margin-top: 15px;
  font-size: 14px;
  color: #777;
}

/* list */
.list {
  border-top: 1px solid #ddd;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 18px 10px;
  border-bottom: 1px solid #ddd;
}

.item span {
  color: #2b5db7;
}

.item small {
  color: #888;
}
