* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background: #fff;
}


a {
  text-decoration: none;
  color: #358BC5;
  margin-right: 15px;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 7px 80px;
  background: #f5f5f5;
  font-size: 14px;
  border-top: 7px solid #BC0010;
  margin-left: 45px;
}

.top-right {
   margin-right: 45px;
}

/* MAIN HEADER */
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}



.logo {
  font-size: 32px;
  font-weight: bold;
  padding-left: 40px;
  margin-left: 55px;
}

.phone {
  font-size: 18px;
}

.contact-btn {
  padding: 10px 15px;
  color: #358BC5;
  border: 1px solid #007bff;
  background-color: #E5E5E5;
}

.icons span {
  margin-left: 20px;
  cursor: pointer;
  margin-right: 90px;
}


/* SEARCH */
.search-bar {
  display: flex;
  padding: 10px 40px;

}

.catalog-btn {
  padding: 10px;
  background: #eee;
  color: #333;
  border: none;
  margin-left: 80px;
}

.search-bar input {
  flex: 1;
  padding: 10px;

}

.search-btn {
  padding: 10px 1px;
  background: #6B7FA0;
  color: black;
  border: none;
  margin-right: 80px;
}
/* BANNER */
.banner {
    margin: 20px 20px;

}
.banner img {
  height: auto;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  width: 1230px;
  height: 520px;
  top: 214px;
  left: 105px;
}

/* PRODUCT KATALOG */

.product-katalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.katalog-card {
  margin: 0px;
  position: relative;
  height: 400px;
  overflow: hidden;
}
.katalog-card img {
  width: 410px;
  height: 100%;
  object-fit: cover;
}

.name-katalog {
    width: 2700px;
    font-size: 26px;
    font-weight: bold;
    padding-left: 120px;
    margin-top: 100px;
    margin-bottom: 30px;

}
.katalog-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(
    to top,
    rgba(104, 133, 66, 0.6),
    transparent
  );
}
.katalog-card h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  z-index: 2;
}


.divider {
    display: block;
    width: 1700px;
    height: 2px;
    background-color: #DDDDDD;
    margin: 10px auto 20px auto;
}
 /* Best Offers */

.container {
  width: 1200px;
  margin: 40px auto;
}

/* Title */
.title h2 {
  font-size: 28px;
  padding-bottom: 15px;
}
.sidebar {
  background: #f9f9f9;
  padding: 20px;
  
}

/* Top bar */
.best-offers-btn {
    display: flex;  
    padding-left: 30px;
    margin-left: 1020px;
    margin-top: 40px;
    margin-bottom: 10px;
    background: white;
    cursor: pointer;
  }

/* Layout */
.layout {
  display: flex;
  gap: 30px;
}

/* Sidebar */
.sidebar {
  width: 260px;
}

.sidebar ul {
  list-style: none;
  margin-top: 15px;
}

.sidebar li {
  padding: 10px;
  color: #777;
  cursor: pointer;
}

.sidebar li.active {
  color: black;
  border-left: 3px solid red;
}

/* Products */
.products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Card */
.card {
  border: 1px solid #eee;
  padding: 15px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* Badges */
.badges {
  margin: 10px 0;
}

.badges span {
  font-size: 12px;
  padding: 3px 6px;
  color: white;
  margin-right: 5px;
}

.blue { background: #3498db; }
.darkblue { background: #0E2F83; }
.green { background: #2ecc71; }
.red { background: #e74c3c; }

/* Price */
.card h3 {
  font-size: 14px;
  margin: 10px 0;
}

.old {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

   /* Aksiya */
    .aksiya-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.aksiya-card {
  margin: 0px;
  position: relative;
  height: 400px;
  overflow: hidden;
}
.aksiya-card img {
  width: 410px;
  height: 100%;
  object-fit: cover;
}

.name-aksiya {
    width: 2700px;
    font-size: 26px;
    font-weight: bold;
    padding-left: 120px;
    margin-top: 100px;
    margin-bottom: 30px;

}
.aksiya-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(
    to top,
    rgba(27, 23, 23, 0.6),
    transparent
  );
}
.aksiya-card h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  z-index: 2;
}



   /* Service */
    .name-service {
      width: 2700px;
      font-size: 26px;
      font-weight: bold;
      padding-left: 120px;
      margin-top: 100px;
     }
     .service-pictures {
         display: flex;
         justify-content: center;
         padding: 10px;
         gap: 40px;
         margin-top: 50px;
         margin: 90px;
     }
      .service-pictures img {
         width: 370px;
         height: 440px;
      }
      /* Delivery Loading */
        .delivery-label-unloading {
            width: 2700px;
            font-size: 26px;
            font-weight: bold;
            padding-left: 120px;
            margin-top: 100px;
        }
      /*  Useful Information */
      .useful-label-information {
        width: 2700px;
        font-size: 26px;
        font-weight: bold;
        padding-left: 120px;
        margin-top: 100px;
      }
      .useful2-picture {
        border-top: 1.5px solid gray;
        border-left: 1.5px solid gray;
        border-right: 1.5px solid gray;
        border-bottom: 1.5px solid gray;
      }

      .useful-information-items {
        display: flex;
        padding: 10px;
        gap: 40px;
        margin-top: 50px;
        margin: 90px;
      }
      .useful-information-pictures img {
        width: 370px;
        height: 440px;
      }
      /* Questions Answers */
        .questions-label-answers {
            width: 2700px;
            font-size: 26px;
            font-weight: bold;
            padding-left: 120px;
            margin-top: 100px;
    }

 h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* badges */
.badges {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  margin-left: 110px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 18px;
  border-radius: 6px;
  color: #fff;
}

.badges b {
  font-size: 18px;
}

.badges-red {
  background: #c62828;
}

.badges-blue {
  background: #6c7a89;
}

/* gallery */
.gallery {
  background: #f3f3f3;
  padding: 50px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.gallery h2 {
  margin-bottom: 20px;
}

.rectangel {
  display: flex;
  gap: 15px;
}

.rectangel img {
  width: 230px;
  height: 140px;
  object-fit: cover;
}

.note {
  margin-top: 15px;
  font-size: 14px;
  color: #777;
}

/* list */
.list {
  border-top: 1px solid #ddd;
  margin-left: 100px;
  margin-right: 100px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 18px 10px;
  border-bottom: 1px solid #ddd;
}

.item span {
  color: #2b5db7;
}

.item small {
  color: #888;
}

/* Experts */
.experts-label {
  width: 2700px;
  font-size: 26px;
  font-weight: bold;
  padding-left: 120px;
  margin-top: 100px;
}
.experts-pictures {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 40px;
  margin-top: 50px;
  margin: 90px;
}
.experts-pictures img {
  width: 370px;
  height: 440px;
}
/* Reviews */

.reviews-label {
  width: 2700px;
  font-size: 26px;
  font-weight: bold;
  padding-left: 140px;
  margin-top: 100px;
}
.reviews-content {
  margin-top: 50px;
  display: flex;
  gap: 60px;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 8px;
}

.medium {
  font-size: 20px;
  margin-left: 80px;
}

.left {
  margin-left: 110px;
  
}
.add-button {
  margin-top: 50px;
  padding: 15px 40px;
  background: #c60000;
  color: white;
  border: none;
  cursor: pointer;
}
.stars {
  color: #c60000;
  font-size: 24px;
  margin-top: 30px;
}
.reviews-p {
  margin-top: 20px;
}
.bar{
  width: 260px;
  height: 17px;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
}


.fill {
  height: 100%;
  background: #c60000;
}
 .w80 { width: 80%; }
 .w40 { width: 40%; }
 .w15 { width: 15%; }
 .w5  { width: 5%; }
 button {
  background: #c60000;
  color: #ffffff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
}
/*Props */
.props {
  width: 420px;
  font-family: Arial, sans-serif;
  margin-left: 150px;
}

.props h3 {
  margin-bottom: 20px;
}

.prop {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.label {
  width: 120px;
  color: #333;
}

.segment {
  display: flex;
  gap: 6px;
}

.seg {
  width: 40px;
  height: 5px;
  background: #eee;
  border-radius: 10px;
}

.seg.active {

  background: #c60000;
}

.prop b {
  width: 30px;
  text-align: right;
}

/* White Hills */
.white-hills {
  width: 1500px;
  margin: 100px auto 100px auto;
  font-family: Arial, sans-serif;
  background-color: #DDDDDD;
  color: #333;
}

.white-hills-label {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.white-hills h3 {
  margin-bottom: 30px;
 
}

.white-hills-top {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

/* Left */
.white-hills-left {
 width: 380px;
 
}
.props-2 {
  width: 420px;
  font-family: Arial, sans-serif;
  margin-left: 40px;
  
}

.props-2 h3 {
  margin-bottom: 20px;
}

.prop-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.label-2 {
  width: 120px;
  color: #333;
}

.segment-2 {
  display: flex;
  gap: 6px;
}

.seg {
  width: 40px;
  height: 5px;
  background: #eee;
  border-radius: 10px;
}

.seg.active {

  background: #c60000;
}

.prop-2 b {
  width: 30px;
  text-align: right;
}

/* White-hills-Right */
.white-hills-right {
  flex-direction: row;
  gap: 20px;
  position: relative;
}

.rectangle-2 img {
  margin-left: 60px;
  width: 260px;
  height: 170px;
  object-fit: cover;
}
.rectangle-2 {
  display: flex;
  gap: 15px;
}

.note {
margin-left: 80px;
}

.arrow {
  position: absolute;
  right: -30px;
  top: 50%;
  font-size: 40px;
  color: red;
  cursor: pointer;
}

/* Text */

h3 {
  margin: 25px 0 10px;
  font-size: 16px;
}

.text {
  line-height: 1.6;
  margin-bottom: 20px;
  
}
.two-text {
  
  gap: 40px;
}

.more {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.white-hills-bottom {

  margin-left: 40px;
  color: #3D3D3D;
  font-size: 14px;
}

/* Bottom */

.share {
  float: right;
  margin-right: 30px;
  color: #1a73e8;
  cursor: pointer;
}

/* Footer */
.footer {
 
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-inner {
  width: 1500px;
  margin: auto;
  display: flex;
  gap: 40px;
  background-color: #FAFAFA;
}

.col {
  flex: 1;
}

.logo {
  font-size: 32px;
  margin-left: 2px;
  margin-bottom: 20px;
}

.phone {
  margin-left: 40px;
  margin-bottom: 20px;
  color: #444;
}

h4 {
  margin-bottom: 15px;
  font-size: 14px;
}

.col a {
  display: block;
  margin-bottom: 8px;
  color: #1a73e8;
  text-decoration: none;
  font-size: 14px;
}

.col a:hover {
  text-decoration: underline;
}

/* socials */
.socials {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.socials span {
  width: 32px;
  height: 32px;
  background: #6c7a89;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 12px;
}

/* subscribe */
input {
  width: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

button {
  width: 150px;
  padding: 10px;
  background: #c60000;
  color: #fff;
  border: none;
  border-radius: 4px;
}

